<ion-header>
  <ion-toolbar color="secondary">
    <ion-title> Pouch CouchDB Sync </ion-title>
    <ion-buttons start>
      <ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons end>
      <ion-button icon-only (click)="createDocument()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let document of documents">
      <ion-item> {{document.title}} </ion-item>

      <ion-item-options>
        <ion-button icon-only color="light" (click)="updateDocument(document)">
          <ion-icon name="create"></ion-icon>
        </ion-button>
        <ion-button icon-only color="primary" (click)="deleteDocument(document)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
